/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//font/NanumGothic-Regular.eot);
  src: url(//font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//font/NanumGothic-Regular.woff2) format('woff2'),
       url(//font/NanumGothic-Regular.woff) format('woff'),
       url(//font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//font/NanumGothic-Bold.eot);
  src: url(//font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//font/NanumGothic-Bold.woff2) format('woff2'),
       url(//font/NanumGothic-Bold.woff) format('woff'),
       url(//font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//font/NanumGothic-ExtraBold.eot);
  src: url(//font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//font/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//font/NanumGothic-ExtraBold.woff) format('woff'),
       url(//font/NanumGothic-ExtraBold.ttf) format('truetype');
}

* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nanum Gothic' $baskerville;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: 'Nanum Gothic' $sans-font;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
